/* 

|-------------------------------------------|
|           This Custume css                |
|-------------------------------------------|

*/

body{
    font-family: 'Open Sans', sans-serif;
    color: #3d3d3d;
}



.wrap-content{
    max-width: 1200px !important;    
}

/* Navbar */
header{
    display: inline;
}

.navbar{
    background-color: rgba(236, 240, 241,1.0);
}

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color:#222f3e !important;
}

.navbar-nav{
    margin-right: -8px;
}

.navbar-brand span{
    color: #16a085;
}

.nav-item{
    font-size: 14px;
}

.sub-menu{
    padding: 10px;
    margin-left: -20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.20);
}

.sub-menu li {
    list-style-type: none;
    display: inline;
}

.sub-menu li a{
    margin-left: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #57606f;
    
}


.nav-form{
    display: none;
}

.active{
    color: rgba(22, 160, 133,1.0) !important;
}

.nav-link:hover{
    color: rgba(22, 160, 133,1.0) !important;
}

.submenu-link:hover{
    color: rgba(22, 160, 133,1.0) !important;
}

main{
    box-sizing: border-box;
}

.content{
    margin-top: 30px;
}


footer {
    margin-bottom: 0;
    margin-top: 100px;
    height: auto;

}

.foo-head {


    background-color: #fff !important;

}


.foo-body {

    background-color: #f5f6fa;

}

.foo-brand {
    font-size: 24px;
    text-align: center;
    font-weight: bold;

}

.foo-brand span {
    color: #10ac84 !important;
}



.find-me {
    text-align: center;
    font-size: 16px;
}

.sosial-foo {
    text-align: center;
    margin-bottom: 50px;
}

.sosial-ic {
    font-size: 0.9rem !important;
    color: white !important;
}

.populer-search{
    background-color: #ffffff;
    height: 270px;
    box-shadow: 0px 0px 12px 0px rgba(184,184,184,0.5);
    border-radius: 12px;
    padding: 20px;
}

.text-heading-content{
    font-size: 16px;
    font-weight: 600;
}

.populer-search h6{
    font-size: 14px;
    font-weight: 600;
    color: #bdc3c7;
}


/* Slick Css */
.slick-container{
    width: 100%;
}

.slick-content{
    margin-left: 10px;
    height: 150px !important;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
    border: 1px solid #ecf0f1;
    outline: none;
    cursor: pointer;
}


.slick-arrow{
    position: absolute;
    top: 50%;
    bottom: 0;
    margin-top: -5px;
    display: inline-block !important;
    width: 24px;
    height: 24px;
    outline: none !important;
    background-color: #fff !important;
    border: 1px solid #ecf0f1 !important;
    padding: 16px;
    border-radius: 50px;
    opacity: 0;
    cursor: pointer;
}



.slick-arrow:hover {
    opacity: 1;
    box-shadow: 0px 5px 6px rgba(49, 53, 59, 0.13);

}


.slick-prev {
    left: 0;
    background-color: transparent;
    border: none;
    font-size: 0;
    margin-left: -15px;
    z-index: 1;
}

.slick-prev::before {


    content: "<";
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px !important;
    margin-top: -13px;
    margin-left: -6px;
    color: #bdc3c7;

}

.slick-next {
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 0;
    margin-right: -10px;
}

.slick-next::before {

    content: ">";
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px !important;
    margin-top: -13px;
    margin-left: -6px;
    color: #bdc3c7;


}

.slick-img{
    width: 100%;
    height: 80px;
    background-color: red;
}

.slick-img img{
    width: 100%;
    height: 100%;
}

.slick-body{
    margin-top: 10px;
}

.slick-text-head{
    font-size: 12px !important;
    margin-bottom: 0;

}

/* Card product */
/* .container-product{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content:space-between;

}

.item-product{
    width: 220px;
    height: 350px;
    background-color: black;
    margin-top: 15px;
   
} */
.container-product{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 350px);
    grid-gap: 20px; 
}

.item-product{
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(150,150,150,0.39);
    cursor: pointer;

}

.item-product:hover{
    box-shadow: 0px 5px 10px 0px rgba(150,150,150,0.60);

}

.img-item-product{
    width: 100%;
    height: 130px;
    /* background-color: black; */
}

.img-item-product img{
    width: 100%;
    height: 130px;
}

.deskripsi-item-product{
    height: 220px;
    padding: 20px 10px 0px 20px;
    /* background-color: red; */
}

.title-product{
    /* background-color: black; */
    height: 45px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    margin-bottom: 5px;
}

.disccount{
    padding: 2px 12px;
    background-color: #19a689;
    font-size: 12px;
    border-radius: 50px;
    color: white;
    text-align: center;
}

.pot-harga{
  font-size: 12px;
  font-weight: bold;
  text-decoration: line-through;
  margin-left: 8px;
  color: #bdc3c7;
}

.price-product{
    font-size: 16px;
    font-weight: bold;
    color: #19a689;
    margin-top: 10px;
}

.domisili{
    font-size: 12px;
    font-weight: bold;
    color: #bdc3c7;
    margin-bottom: 10px;
}

.active-rate{
    color: #f1c40f;
}

.rate span{
    font-size: 16px;
}

.ic {

    background-color: #10ac84;
    border-radius: 100%;
    padding: 10px;
    margin-right: 10px;

}

.ic:hover {

    color: #16a085;

}

.foo-bo {
    /* background-image: url(../img/word_map.png); */
    background-color: #f5f6fa;
    /* background-size: cover;  */
    height: auto !important;



}

.text-copy {

    font-size: 14px;
    color: #7f8c8d;


}




.foo-bott {

    height: auto;


}



.contact {
    text-align: center;
}

.contact-head {

    font-size: 22px;
    font-weight: 100;
    color: #7f8c8d;
    /* color: white; */
    margin-top: 50px;

}

.contact-texet {

    font-size: 14px;
    color: #7f8c8d;
    /* margin-bottom: 50px; */
    text-transform: capitalize;

}

.contact-texet a {
    text-decoration: none;
    color: #7f8c8d;
}

.ket {
    margin-bottom: 100px;
}




.mb-50 {
    margin-bottom: 50px;
}

.name-perusahaan {
    text-align: left;
    color: #10ac84 !important;
    font-weight: bold;
    text-transform: uppercase !important;
}

.desk-contact {
    text-align: left;

}

.contact-alamat {
    text-align: left;
}


.foo-content {

    background-image: url(../img/word_map.png);
    /* height: 540px; */
    background-size: cover;



}

.copy-right {
    border-top: 0 !important;
    background-color: #f5f6fa;
    color: #7f8c8d;
}


.contact-head::before {


    content: "";
    display: block;
    border-bottom: 3px solid #3ebea4;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 50px;
}

.contact-text {
    font-size: 14px;
}

.contact-text a {

    text-decoration: none;
    color: black;

}

.nav-footer li a {

    color: black !important;
    margin-left: 0 !important;


}

.nav-footer .nav-link:hover::after {
    content: none !important;

}


.link-penting {
    text-align: center;
}

.wastapp {
    text-align: center;
}


.small-ft {
    color: #16a085;
}

.head-ft {

    color: #535c68;
    font-weight: 400;
}

.text-ft {

    font-size: 14px;
    color: #747d8c;
}



/* Utilities */
.borderform-rounded{
    border-radius: 50px !important;
}

.form-control:focus{
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px !important;
    color:rgba(189, 195, 199,1.0) !important;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px !important;
    color:rgba(189, 195, 199,1.0) !important;
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px !important;
    color:rgba(189, 195, 199,1.0) !important;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 14px !important;
    color:rgba(189, 195, 199,1.0) !important;
}

.primary-inspiana{
    background-color: #16a085 !important;
    color: white;
    font-weight: 400;
}

@media (min-width: 1200px) { 

    .wrap-content{
        max-width: 1200px !important;    
    }

    .sub-menu{
        margin-left: -80px;
    }
    .nav-form{
        display: flex;
        flex-grow: 8;
    }
    
  
    .input-nav{
        width: 550px !important;
        height: 30px;
    }


 }